<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find nusim)/config/nusim.rviz -f red" ns= "red"/>

    <node name="nusim_node" type="nusim_node" pkg="nusim" output="screen">
    </node>



    <rosparam file="$(find nusim)/config/basic_world.yaml"/>



    <param name="red/robot_description" command="$(find xacro)/xacro $(find nuturtle_description)/urdf/turtlebot3_burger.urdf.xacro color:=red"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns= "red"/>


    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ns= "red"/>

    





</launch>