<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find nusim)/config/nusim.rviz"/>

    <node name="nusim_node" type="nusim_node" pkg="nusim" output="screen">
    </node>



    <rosparam file="$(find nusim)/config/basic_world.yaml"/>













</launch>