<launch>

    <!-- <rosparam command = "load"  file="$(find nuturtle_description)/config/diff_params.yaml"/> -->

  <node name="turtle_interface" type="turtle_interface" pkg="nuturtle_control" output="screen">
        <rosparam file="$(find nuturtle_description)/config/diff_params.yaml"/>
        
  </node>


</launch>